@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
body
    background #E5E5E5
.nav_bar
    margin-bottom 67px
.nav_bar__logo
    width 48px
    height 48px
    margin-top 30px
    margin-left 30px
.colors_type_block
    margin 0 0 0 150px
    display -webkit-flex
    display -moz-flex
    display -ms-flex
    display -o-flex
    display flex
    justify-content space-between
.colors_type_block__colors
    display -webkit-flex
    display -moz-flex
    display -ms-flex
    display -o-flex
    display flex
    justify-content space-between
    align-items center
    width 260px
    margin-bottom 20px
.color_block
    border-radius: 6px;
    width 70px
    height 70px
    
.dark_shade_100-block
    background: #1F2041;
.dark_shade-text
    color #1F2041
.dark_shade_75-block
    background: rgba(31, 32, 65, 0.75);
.dark_shade_50-block
    background: rgba(31, 32, 65, 0.50);
.dark_shade_25-block
    background: rgba(31, 32, 65, 0.25);
.dark_shade_5-block
    background: rgba(31, 32, 65, 0.05);
.purple-block
    background #BC9CFF
.green-block
    background #6FCF97
.item__name
    width: 159px;
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 29px;
    display: flex;
    align-items: center;